.navbar {
    z-index: 999;
    background-color: #191C1B;
    width: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    justify-content: center;
    gap: 12px;
    padding: 0 12px 0 12px;

    &__link {
        padding: 12px 16px;
        border-radius: 24px;
        transition: .1s linear;
    }
    &__link:hover {
        background-color: #344C43;
    }
}

.home {
    &__block {

    }
    &__item {
        width: 790px;
        height: 340px;
        margin: 48px 58px 40px 112px;
        border: 3px solid #89938E;
        border-radius: 32px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 0px 20px 8px rgba(137, 147, 142, 0.2);
    }
    &__bg {
        position: absolute;
        border-radius: 32px;
        z-index: -1;
    }
    &__content {
        width: 360px;
        position: absolute;
        left: 34px;
        bottom: 32px;
    }
    &__title {
        font-size: 12px;
        line-height: 16px;
        opacity: 60%;
    }
    &__name {
        font-size: 24px;
        line-height: 32px;
    }
    &__text {
        padding: 12px 0 28px 0;
        opacity: 80%;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        font-weight: 400;
    }
    &__button {
        display: inline-block;
        background-color: #E1E3E0;
        padding: 9px 14px;
        border-radius: 40px;
        color: #191C1B;
        font-weight: 500;
        font-size: 15.4px;
        cursor: pointer;
        transition: .2s linear;
    }
    &__button__content {
        display: flex;
        gap: 6.6px;
    }
    &__button:hover {
        box-shadow: 0px 0px 10px 4px rgba(137, 147, 142, 0.2);
    }
}

.categories {
    &__name {
        font-size: 22px;
        font-weight: 500;
    }
    &__block {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
    }
    &__name {
        padding-bottom: 20px;
    }
    &__item {
        position: relative;
        width: 308px;
        height: 88px;
        padding: 12.5px 17.6px;
        border: 2px solid transparent;
        border-radius: 20px;
        overflow: hidden;
        transition: .1s linear;
        cursor: pointer;
    }
    &__item:hover {
        border: 2px solid #424644;
    }
    &__title {
        font-weight: 500;
        font-size: 17.6px;
        line-height: 26.4px;
        letter-spacing: 0.17px;
        color: #C4C7C4;
    }
    &__text {
        font-weight: 400;
        font-size: 13.2px;
        line-height: 17.6px;
        letter-spacing: 0.22px;
        opacity: 80%;
    }
    &__img {
        z-index: -1;
        top: 0;
        left: 0;
        position: absolute;
        width: inherit;
        height: inherit;
    }
}

.rec {
    padding-top: 40px;
    &__title {
        font-size: 22px;
        font-weight: 500;
        line-height: 28px;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        padding: 24px 0 24px 0;
    }
    &__item {
        cursor: pointer;
    }
    &__img {
        padding-bottom: 8px;
    }
    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    &__text {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        opacity: 60%;
    }
}